@import 'tailwindcss';

/* Объявление шрифтов Georgia */
@font-face {
  font-family: 'Georgia';
  src: url('/font/georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('/font/georgiab.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('/font/georgiai.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('/font/georgiaz.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

:root {
  --foreground: #171717;
  --bg-image: url('/styles/pattern.png'); /* Убедитесь, что файл в public/styles/pattern.png */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
  }
}

body {
  background: var(--bg-image) repeat;
  background-size: auto;
  color: var(--foreground);
  font-family: 'Georgia', serif;
  position: relative;
  z-index: 0;
}

/* Добавляем классы для Tailwind */
@layer utilities {
  .font-georgia {
    font-family: 'Georgia', serif;
  }

  .font-georgia-bold {
    font-family: 'Georgia', serif;
    font-weight: bold;
  }

  .font-georgia-italic {
    font-family: 'Georgia', serif;
    font-style: italic;
  }

  .font-georgia-bold-italic {
    font-family: 'Georgia', serif;
    font-weight: bold;
    font-style: italic;
  }
}
